<!-- my_robot_simulation.launch -->
<launch>

    <!-- roslaunch arguments -->
    <arg name="debug" default="false"/>
    <arg name="world_name" default="$(find rb1_base_gazebo)/worlds/ros2_online_workshop.world"/>
    <arg name="robot_description" default="$(find my_rb1_description)/urdf/my_rb1_robot.urdf"/>

    <!-- Launch an empty Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <!-- Load the robot URDF as a parameter -->
    <param name="robot_description" textfile="$(arg robot_description)"/>

    <!-- Spawn the robot model in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model my_robot -x -0.3 -y -1.3 -z 0.17 -R 0 -P 0 -Y 0"/>

    <!-- Start joint_state_publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>

    <!-- Start robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"/>

</launch>
